<configuration>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] requestId:%X{requestId:-} username:%X{username:-} %logger -
                %msg%n%ex
            </pattern>
        </encoder>
    </appender>

</configuration>
